{{#if current_user}}
<div class="logged-in">
  <ul>
    <li>Hi {{{current_user.name}}}</li>
    {{#if current_user.role_id}}<li><a href="{{../../config.admin_base_address}}">Dashboard</a></li>{{/if}}
    <li><a href="{{config.base_address}}/auth/logout">Sign out</a></li>
  </ul>
</div>
{{^}}
<div class="logged-in">
  <ul>
    <li><a href="{{config.base_address}}/auth">Sign in</a></li>
  </ul>
</div>
{{/if}}
