<main role="main" class="row">
  <div class="columns nine">
    <h1>Not found</h1>
    <p>This URL was not found.</p>
    {{#if errorString}}
      {{markdown errorString}}
    {{/if}}
  </div>
  <div class="columns three">
    {{> sidebar}}
  </div>
</main>
