<section role="main">
<h1>Sign in</h1>
<p>You can sign in to this website using any of the following services. The first time that you sign in to this website using one of selected services, you will be asked to provide some registration details.</p>
<ul class="no-bullets">
  <li><a href="{{config.base_address}}/auth/with_google" role="button" class="signin"><span class="signin-google">Sign in with Google</span></a></li>
  <li><a href="{{config.base_address}}/auth/with_github" role="button" class="signin"><span class="signin-github">Sign in with GitHub</span></a></li>
  <li><a href="{{config.base_address}}/auth/with_facebook" role="button" class="signin"><span class="signin-facebook">Sign in with Facebook</span></a></li>
</ul>
</section>
