<aside>
<h1 class="card_title">Elsewhere</h1>
<div class="card">
  <ul class="aside_list">
    <li><a href="{{config.linkrel.publisher}}">Google+</a></li>
    <li><a href="https://twitter.com/connrs">Twitter</a></li>
    <li><a href="https://github.com/connrs">GitHub</a></li>
  </ul>
</div>
</aside>
