<main role="main" class="row">
<div class="columns nine">
  {{> flash_message_alert}}
  <h1>Delete posts</h1>
  <p>Are you sure that you wish to delete the selected posts?</p>
  <form method="post" action="{{config.admin_base_address}}/posts/confirm_delete">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    {{#each post_ids}}
    <input type="hidden" name="post_id[]" value="{{this}}">
    {{/each}}
    <div class="buttons">
      <a role="button" href="{{config.admin_base_address}}/posts">Exit</a>
      <input type="submit" value="Delete">
    </div>
  </form>
</div>
<div class="columns three">
  {{> sidebar}}
</div>
</main>
