<main role="main" class="row">
  <div class="columns nine">
    {{> flash_message_alert}}
    <h1>Settings dashboard</h1>
    <p>Use the menu to the left to configure this website.</p>
  </div>
  <div class="columns three">
    {{> admin_sidebar}}
  </div>
</main>
